<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>268571797644-n2o1hdit7jonuf8im3bjf3jejusq8ntj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268571797644-n2o1hdit7jonuf8im3bjf3jejusq8ntj</string>
	<key>API_KEY</key>
	<string>AIzaSyCtbHoj-1rTnQsI1bkmHkRa0A8oobCFW8o</string>
	<key>GCM_SENDER_ID</key>
	<string>268571797644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nunev.InstagramLike</string>
	<key>PROJECT_ID</key>
	<string>instagram-f3f20</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-f3f20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:268571797644:ios:0be68b958411ec17</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-f3f20.firebaseio.com</string>
</dict>
</plist>